body {
    background: linear-gradient(180deg, #1c1c3c, #342a54);
    margin: 0;
    padding-top: 70px; /* Añade espacio para el navbar */
}

.color-word {
    color: #ffffff;
}

.navbar {
    background-color: #282b4d;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-admin {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #2d3050;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Separar del navbar */
}

.titulo-admin {
    text-align: center;
    margin-bottom: 40px;
    color: #e4e6eb;
    font-size: 24px;
    font-weight: bold;
}

.seccion-admin {
    margin-bottom: 30px;
}

.subtitulo-admin {
    color: #e4e6eb;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.boton-admin {
    background-color: #76b6f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-size: 16px;
}

.boton-admin:hover {
    background-color: #5694d1;
}

.tabla-admin {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-admin thead {
    background-color: #44476b;
    color: #fff;
    text-align: left;
}

.tabla-admin th, .tabla-admin td {
    padding: 15px;
    text-align: left;
    color: #e4e6eb;
    border-bottom: 1px solid #44476b;
}

.tabla-admin tr:nth-child(even) {
    background-color: #2d3050;
}

.tabla-admin tr:hover {
    background-color: #3a3d63;
}

.acciones-admin {
    display: flex;
    gap: 10px;
}

.acciones-admin button {
    background-color: #76b6f3;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 14px;
}

.acciones-admin button:hover {
    background-color: #5694d1;
}
